<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- ##1 -->
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body style="background-color:#D9D9D9">
	<div layout:fragment="content">

		<div class="container d-flex flex-column justify-content-center align-items-center">

			<div class="container bg-secondary rounded-top-5" style="max-width: 1000px; height: 20px;"></div>
			
			<div class="container bg-secondary d-flex" style="max-width: 1000px; height: 300px;">
				<div class="container bg-secondary d-flex align-items-center" style="max-width: 30%; max-height: 100%;">
				  <section class="bg-white rounded-circle d-flex justify-content-center align-items-center position-relative" style="width: 100%; height: 90%;">
				    
				    <!-- 아바타 이미지-->
				    <img src="/images/member_avatar.png" alt="아바타"
				         class="position-absolute"
				         style="z-index: 1; max-width: 90%; max-height: 80%;">
				    
				    <div style="z-index: 2; position: relative; color: gray;">아바타 바꾸기</div>
				
				  </section>
				</div>
				
				<!-- 사용자 별명(displayName) -->
				<div class="container bg-secondary text-white d-flex flex-column" style="max-width: 60%; max-height: 100%;">
				  <h1 class="row align-items-end" th:href="@{/member/member}" sec:authorize="isAuthenticated()"
				      sec:authentication="principal.username" style="font-size: 55px; height: 50%"> </h1>
				  
				  <div class="container bg-secondary text-dark d-flex align-items-end" style="height: 40%;">
				  	<span class="badge bg-success col-2" style="height: 20%">dd</span>
				  	<span class="badge bg-success col-2" style="height: 20%">dd</span>
				  	<span class="badge bg-success col-2" style="height: 20%">dd</span>
				  </div>
				</div>
			
			</div>
			
			<div class="container bg-secondary" style="max-width: 1000px; height: 10px;"></div>
			<div class="container bg-secondary rounded-bottom-3" style="max-width: 1000px; height: 800px;">
			  <div class="d-flex container bg-light rounded-bottom-3 rounded-top-3 justify-content-end" style="max-width: 100%; height: 99%;">



					<!-- 메인 -->

					<div class="container mt-5">
						<div class="card p-4 shadow-sm">
							<h4 class="card-title mb-4 text-primary">현재 주소지</h4>

							<!-- 주소 -->
							<form class="mb-4" method="post" th:action="@{/member/mypage/uaddress}">
								<label class="form-label text-muted">주소</label>
									
								<!-- 우편번호 + 검색 버튼 레이어 -->
								<div class="card border-light mb-3">
								<input type="text" name="memberId" id="memberId" class="form-control d-none" th:value="${#authentication.name}" readonly>
									<div class="card-body">
										<div class="row g-3">
											<div class="col-md-4">
												<input type="text" name="addressPost" id="addressPost"
													class="form-control" placeholder="우편번호" readonly>
											</div>
											<div class="col-md-2">
												<button type="button" class="btn btn-outline-primary w-100"
													onclick="addressFinder()">검색</button>
											</div>
										</div>
									</div>
								</div>

								<!-- 도로명 / 지번 주소 레이어 -->
								<div class="card border-light mb-3">
									<div class="card-body">
										<div class="row g-3">
											<div class="col-md-6">
												<input type="text" name="addressRoad" id="addressRoad"
													class="form-control" placeholder="도로명주소" readonly>
											</div>
											<div class="col-md-6">
												<input type="text" name="addressJibun" id="addressJibun"
													class="form-control" placeholder="지번주소" readonly>
											</div>
										</div>
									</div>
								</div>

								<!-- 상세 주소 레이어 -->
								<div class="card border-light mb-3">
									<div class="card-body">
										<div class="row g-3">
											<div class="col-md-6">
												<input type="text" name="addressDetail" id="addressDetail"
													class="form-control" placeholder="상세주소"> <small
													id="addressGuide" class="form-text text-muted">상세
													주소를 입력해주세요.</small>
											</div>
											<div class="col-md-6">
												<input type="text" name="addressExtra" id="addressExtra"
													class="form-control" placeholder="참조주소" readonly>
											</div>
										</div>
									</div>
								</div>
								<div class="container mt-5">
									<div class="d-flex justify-content-end">
										<div class="btn btn-outline-primary mx-3" onclick="window.location.reload();">새로고침</div>
										<input type="submit" class="btn btn-outline-success" value="변경하기">
									</div>
								</div>

							</form>
						</div>
					</div>
					
					
					<!-- 페이지 로딩 시 사용자의 주소 정보 가져오기 -->
					<script>
				    $(document).ready(function() {
				        var memberId = $("#memberId").text().trim();
						// 우편번호
				        $.ajax({
				            url: "/40db/getAddressPostByMemberId",
				            method: "GET",
				            data: { memberId: memberId },
				            success: function(addressPost) {
				                $("#addressPost").val(addressPost);
				            },
				            error: function() {
				                console.log("주소지 가져오기 실패");
				            }
				        });
						// 도로명
				        $.ajax({
				            url: "/40db/getAddressRoadByMemberId",
				            method: "GET",
				            data: { memberId: memberId },
				            success: function(addressRoad) {
				                $("#addressRoad").val(addressRoad);
				            },
				            error: function() {
				                console.log("주소지 가져오기 실패");
				            }
				        });
						// 지번
				        $.ajax({
				            url: "/40db/getAddressJibunByMemberId",
				            method: "GET",
				            data: { memberId: memberId },
				            success: function(addressJibun) {
				                $("#addressJibun").val(addressJibun);
				            },
				            error: function() {
				                console.log("주소지 가져오기 실패");
				            }
				        });
						// 상세주소
				        $.ajax({
				            url: "/40db/getAddressDetailByMemberId",
				            method: "GET",
				            data: { memberId: memberId },
				            success: function(addressDetail) {
				                $("#addressDetail").val(addressDetail);
				            },
				            error: function() {
				                console.log("주소지 가져오기 실패");
				            }
				        });
				    });
				</script>

					<!-- 검색 버튼으로 주소 찾기 -->
					<script>
						function addressFinder() {
							new daum.Postcode(
									{
										oncomplete : function(data) {
											// 도로명 주소 변수
											var roadAddr = data.roadAddress;
											// 참고 항목 변수
											var extraRoadAddr = '';

											// 법정동명이 있을 경우 추가
											if (data.bname !== ''
													&& /[동|로|가]$/g
															.test(data.bname)) {
												extraRoadAddr += data.bname;
											}

											// 건물명이 있고, 공동주택일 경우 추가
											if (data.buildingName !== ''
													&& data.apartment === 'Y') {
												extraRoadAddr += (extraRoadAddr !== '' ? ', '
														+ data.buildingName
														: data.buildingName);
											}

											// 표시할 참고항목이 있을 경우, 괄호까지 추가
											if (extraRoadAddr !== '') {
												extraRoadAddr = ' ('
														+ extraRoadAddr + ')';
											}

											// 우편번호와 주소 정보를 해당 필드에 넣는다.
											document
													.getElementById('addressPost').value = data.zonecode; // 우편번호
											document
													.getElementById('addressRoad').value = roadAddr; // 도로명 주소
											document
													.getElementById('addressJibun').value = data.jibunAddress; // 지번 주소
											document
													.getElementById('addressDetail').value = "";

											// 참고항목이 있을 경우 해당 필드에 넣는다.
											if (roadAddr !== '') {
												document
														.getElementById('addressExtra').value = extraRoadAddr;
											} else {
												document
														.getElementById('addressExtra').value = '';
											}

											// 상세주소 입력 안내
											var guideTextBox = document
													.getElementById("addressGuide");

											if (data.autoRoadAddress) {
												var expRoadAddr = data.autoRoadAddress
														+ extraRoadAddr;
												guideTextBox.innerText = '(예상 도로명 주소 : '
														+ expRoadAddr + ')';
												guideTextBox.style.display = 'block';
											} else if (data.autoJibunAddress) {
												var expJibunAddr = data.autoJibunAddress;
												guideTextBox.innerText = '(예상 지번 주소 : '
														+ expJibunAddr + ')';
												guideTextBox.style.display = 'block';
											} else {
												guideTextBox.innerText = '';
												guideTextBox.style.display = 'none';
											}
										}
									}).open();
						}
					</script>
					<script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
				
				<!-- 내비게이터 -->
			    <div class="d-flex flex-column align-items-end bg-light" style="height: 100%; width: 25%; gap:20px">
			    	<div class="btn btn-outline-light bg-white text-dark shadow-sm mt-3" style="width: 100%"><a th:href="@{/member/mypage/main}" style="text-decoration: none; color:black;">도서대출현황</a></div>
			    	<div class="btn btn-outline-light bg-white text-dark shadow-sm" style="width: 100%"><a th:href="@{/member/mypage/upass}" style="text-decoration: none; color:black;">비밀번호변경</a></div>
			    	<div class="btn btn-outline-light bg-white text-dark shadow-sm" style="width: 100%"><a th:href="@{/member/mypage/uemail}" style="text-decoration: none; color:black;">이메일변경</a></div>
			    	<div class="btn btn-outline-light bg-white text-dark shadow-sm" style="width: 100%"><a th:href="@{/member/mypage/uaddress}" style="text-decoration: none; color:black;">주소지변경</a></div>
			    	<div class="btn btn-outline-light bg-white text-dark shadow-sm" style="width: 100%">휴대폰번호변경</div>
			    	<div class="btn btn-outline-light bg-white text-dark shadow-sm" style="width: 100%">별명변경</div>
			    </div>
			  
			  </div>
			</div>

		</div>
		


	</div>
</body>
</html>