<!DOCTYPE html>
<html lang="ko"   xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/layout}">
<head>
<meta charset="UTF-8">
<title>40db wish list</title>
</head>
<body>
<div layout:fragment="content">
	<div class="container pt-5 p-3">
		<h2 class="text-center">희망도서 신청</h2>
		<h4>희망도서 신청</h4>
		<form method="post" th:action="@{/hopeBook/hope_insert}">
				<div class="my-3">
					<label for="no" class="form-label">순번</label> <input
						 th:value="${no}" type="text" name="bookHopeNo" id="no" class="form-control" readonly>
				</div>
				<div class="my-3">
					<label for="title" class="form-label">제목</label> <input
						 th:value="${title}" type="text" name="book_title" id="title" class="form-control" readonly>
				</div>
				<div class="my-3">
					<label for="writer" class="form-label">저자</label> <input
						 th:value="${author}" type="text" name="book_auther" id="writer" class="form-control" readonly>
				</div>
				<div class="my-3">
					<label for="publisher" class="form-label">출판사</label> <input
						th:value="${publisher}" type="text" name="book_publisher" id="publisher" class="form-control" readonly>
				</div>
				<div class="my-3">
					<label for="isbn" class="form-label">ISBN</label> <input
						th:value="${isbn13}" type="text" name="book_isbn" id="isbn" class="form-control" readonly>
				</div>
				<div class="my-3">
					<label for="isbn" class="form-label">신청일자</label> <input
						th:value="${isbn13}" type="text" name="book_isbn" id="isbn" class="form-control" readonly>
				</div>
				<div>
					<label for="opinion">신청사유</label>
					<textarea id="opinion" name="book_reason" class="form-control" placeholder="자유롭게 기입해주세요"></textarea>
				</div>
				<div class="my-3">
					<button type="reset" class="btn btn-outline-primary">취소</button>
					<button type="submit" class="btn btn-primary" >제출하기</button>
				</div>
		</form>
	</div>
</div>
</body>
</html>